@using Microsoft.Extensions.Localization;
@using LiberacionProductoWeb.Localize;
@model LiberacionProductoWeb.Models.Dummys.ConfiguracionUsuarioVM
@inject IStringLocalizer<Resource> resource;
@{
    Layout = "_Layout_back";
    ViewData["Title"] = "AccessDenied";
    var AccessDenied = resource.GetString("AccessDenied");
}

    <!-- begin #content -->
    <div id="content" class="content">
        <h1 class="page-header">@AccessDenied</h1>
        <!-- end page-header -->
    </div>
    <!-- end #content -->
    @section Scripts {
        <environment names="Development,Staging,Production">
            <script src="~/js/demo.min.js"></script>
            <script src="~/js/apps.min.js"></script>

        </environment>

        <script>
            $(document).ready(function () {
                App.init();
                Demo.init();
            });
        </script>
    }
