<!-- begin #sidebar-right -->
<div id="sidebar-right" class="sidebar sidebar-right">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar-nav -->
        <ul class="nav nav-tabs" role="tablist">
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="today">
                <ul class="nav">
                </ul>
            </div>
        </div>
        <!-- end sidebar-nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg sidebar-right"></div>
<!-- end #sidebar-right -->